/****GENERAL****/
html {
    height: 100%;
    
}
body {
    height: 100%;
}
a {
    text-decoration: none;
}
main {
    height: 100%;
    position: relative;
    padding-left: 25%;
}
.navbar.fixed-left {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
  }
  
  @media (min-width: 768px) {
    .navbar.fixed-left {
      bottom: 0;
      width: 15em;
      flex-flow: column nowrap;
      align-items: flex-start;
    }
    .navbar.fixed-left .navbar-collapse {
      flex-grow: 0;
      flex-direction: column;
      width: 100%;
    }
    .navbar.fixed-left .navbar-collapse .navbar-nav {
      flex-direction: column;
      width: 100%;
    }
    .navbar.fixed-left .navbar-collapse .navbar-nav .nav-item {
      width: 100%;
    }
    .navbar.fixed-left .navbar-collapse .navbar-nav .nav-item .dropdown-menu {
      top: 0;
    }
  }
  

  