/****GENERAL****/
html {
    height: 100%;
    
}
body {
    height: 100%;
}
a {
    text-decoration: none;
}
#main-layout {
    height: 100%;
    position: relative;
    width: 100%;
    padding-left: 20%;
}
.navbarr.fixed-left {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
  }
  navbar:nth-child() {
    margin: 0px;
  }
  
  @media (min-width: 768px) {
    .navbarr.fixed-left {
      bottom: 0;
      width: 20%;
      flex-flow: column nowrap;
      align-items: flex-start;
    }
    .navbarr.fixed-left .navbar-collapse {
      flex-grow: 0;
      flex-direction: column;
      width: 100%;
    }
    .navbarr.fixed-left .navbar-collapse .navbar-nav {
      flex-direction: column;
      width: 100%;
    }
    .navbarr.fixed-left .navbar-collapse .navbar-nav .nav-item {
      width: 100%;
    }
    .navbarr.fixed-left .navbar-collapse .navbar-nav .nav-item .dropdown-menu {
      top: 0;
    }
  }

  


  