/****LAYOUT****/

html {
    height: 100%;
}
body {
    height: 100%;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}
header {
    height: 60px;
    background: white;
}
nav {
    height: 60px;
    background: white;
}
#profile-picture {
    height: 40px;
    width: 40px;
}
.color1 {
    color: #496992;
}
.color2 {
    color: #2ec4b6;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: black;
}

button {
    background: none;
    border: solid 3px #496992;
    border-radius: 10px;
    font-size: 24px;
    color: #496992;
    padding: 5px 15px;
}

/****Fonts****/

.right {
    font-family: 'Righteous', cursive;
}
.mont {
    font-family: 'Montserrat', sans-serif;
}
.montbold {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.tilt {
    font-family: 'Tilt Warp', cursive;
}

/****FOOTER****/

footer {
    height: 400px;
    background: #496992;
    position: relative;
}

/****Homepage****/

#infos {
    min-height: 800px;
    background: #2ec4b6;
}

#logo-background {
    background-image: url('../assets/img/info-background.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}
.card {
    height :20.9375em;
    width: 16em;
    background-color: white;
    border: none;    
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
.medium {
    width: 100%;
}
.img-product {
    width: 100%;
    height: 60%;

}
.info-product {
    height: 40%;
    background-color: #496992;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    position: relative;
}
.button1 {
    border: solid 3px #496992;
    border-radius: 15px;
    padding: 15px 30px;
    color: white;
    background:#496992;
    transition: all ease-in 0.2s ;
}
.button1:hover {
    border: solid 3px #496992;
    border-radius: 15px;
    color: #496992;
    background: #2ec4b6;
    transform: scale(110%);
}
.button2 {
    border: solid 3px #496992;
    border-radius: 15px;
    padding: 15px 30px;
    color: white;
    background:none;
    color: #496992;
    transition: all ease-in 0.2s;
}
.button2:hover {
    border: solid 3px #496992;
    color: white;
    background: #496992;
    transform: scale(110%);
}


