/****SIGH IN****/
html {
    height: 100%;
}
body {
    height: 100%;
    background-color: #2ec4b6;
    margin: 0;
    padding: 0;
}
.color1 {
    color: #496992;
}
.color2 {
    color: #2ec4b6;
}
.right {
    font-family: 'Righteous', cursive;
}
.mont {
    font-family: 'Montserrat', sans-serif;
}
.montbold {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.tilt {
    font-family: 'Tilt Warp', cursive;
}

#sign-in {
    height: 100%;
    width: 100%;
    background-color: #2ec4b6;
    position: relative;
}

.form-bloc {
    height: 50em;
    width: 43.125em;
    background-color: #f5f5f5;
    border-radius: 30px;;
}

#logo_sign {
    position: absolute;
    top: 10px;
    left:10px;
    height: 60px;
    width: 60px;
}

#illustration {
    position: absolute;
    left: 10%;
}

input {
    width: 80%;
    border: none;
    border-radius: 10px;
    height: 60px;
    font-family: 'Montserrat', sans-serif;
    padding-left: 15px;
}

input:focus {
    outline: none;
    border: 3px solid #496992;
}
#flexCheckDefault {
    height: 20px;
    width: 20px;
    margin-right: 10px;
    color:#496992;
    border: 2px solid #496992;
}
#flexCheckDefault:checked {
    height: 20px;
    width: 20px;
    margin-right: 10px;
    background:#496992;
    outline:none;
}
p {
    font-size: 14px;
}

.button1 {
    border: solid 3px #496992;
    border-radius: 15px;
    padding: 15px 30px;
    color: white;
    background:#496992;
    transition: all ease-in 0.2s ;
}
.button1:hover {
    border: solid 3px #496992;
    border-radius: 15px;
    color: #496992;
    background:none;
    transform: scale(110%);
}
.button2 {
    border: solid 3px #496992;
    border-radius: 15px;
    padding: 15px 30px;
    color: white;
    background:none;
    color: #496992;
    transition: all ease-in 0.2s;
}
.button2:hover {
    border: solid 3px #496992;
    color: white;
    background: #496992;
    transform: scale(110%);
}
strong {
    text-decoration: underline;
}